@import './less/theme.less';
@import './less/base.less';

// overlays
.m-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: @transparent[c-base-ddd];
  font-size: @sizes[v-larger];
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// containers
.m-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;

  & > span {
    display: flex;
    align-items: center;
    user-select: none;
    min-height: @sizes[v-larger];
    font-size: @sizes[v-small];
  }

  .m-list {
    margin-top: @distances[v-base-ss];
  }
}

// lists
.m-list {
  flex: 1;
  border: 1px solid @c-text;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: @sizes[v-smaller];
  }
  
  &::-webkit-scrollbar-track {
    background: @transparent[c-base];
  }
  
  &::-webkit-scrollbar-thumb {
    background: @transparent[c-base-ll];
    &:hover {
      background: @transparent[c-base-lll];
    }
    &:active {
      background: @c-text;
    }
  }
}

// separator between plugins and settings
.m-separator {
  height: 100%;
  width: @distances[v-base];
}

// context menu
#m-context-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  padding: 0.3rem;

  & > button {
    background: fadein(@transparent[c-base-ddd], 25%);
    border: 1px solid @c-text;
    padding: 0.3rem;
    white-space: nowrap;
    font-size: @sizes[v-small];
    margin-top: -1px;

    &:hover {
      background: fadein(@transparent[c-base-dd], 25%);
    }

    &:active {
      background: fadein(@transparent[c-base-d], 25%);
    }
  }
}

// autocomplete
.m-autocomplete-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid @c-text;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 5.5rem;
  z-index: 100;

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: fadein(@transparent[c-base-ll], 35%);
    border: none;
    font-size: @sizes[v-medium];
    z-index: 100;

    & > span {
      color: @c-text-muted;
    }

    &:hover {
      background: fadein(@transparent[c-base-lll], 35%);
    }

    &:active {
      background: fadein(@transparent[c-base-llll], 35%);
    }
  }

  & > label {
    display: flex;
    justify-content: center;
    flex: 1;
    background: fadeout(@c-danger, 10%);
    font-size: @sizes[v-medium];
    z-index: 100;
  }

  &::-webkit-scrollbar {
    width: @distances[v-base-l];
  }
  
  &::-webkit-scrollbar-track {
    background: fadein(@transparent[c-base-ll], 35%);
  }
  
  &::-webkit-scrollbar-thumb {
    background: fadein(@transparent[c-base-llll], 35%);
    &:hover {
      background: fadein(@transparent[c-base-lllll], 35%);
    }
    &:active {
      background: @c-text;
    }
  }
}

// actual menu
#m-background {
  position: relative;
  background: @transparent[c-background];
  padding: @distances[v-base-l] @distances[v-base-ll];
  overflow: hidden;
  min-width: 70%;
  max-width: 70%;
  min-height: 90%;
  max-height: 90%;
  display: flex;

  // when display is portrait (e.g. in testing)
  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;

    .m-separator {
      width: 100% !important;
      height: @distances[v-base] !important;
    }

    #m-settings-container {
      height: 0px;
    }
  }

  // border lines
  &::before {
    content: "";
    position: absolute;
    top: @distances[v-base];
    right: @distances[v-base];
    bottom: @distances[v-base];
    left: @distances[v-base];
    border: 1px solid @c-text;
  }

  // plugins container
  #m-plugins-container {

    // action buttons
    & > div[actions] {
      display: flex;
      position: absolute;
      top: 1px;
      right: 0px;
      height: @sizes[v-larger];
      border: none;

      // toggle spcm only button
      & > button {
        font-size: @sizes[v-small];
        border: 1px solid @c-text;
        border-bottom: none;
        margin-top: @distances[v-base];
        background: fadeout(@c-text-muted, 60%);
        color: @c-text;

        &:not([disabled]):hover {
          background: darken(@c-text-muted, 10%);
        }

        &:active {
          background: darken(@c-text-muted, 5%);
        }
      }
    }

    // plugins
    #m-plugins {
      overflow-y: auto;
  
      // plugin
      & > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px -2px;
  
        // plugin name button
        & > button {
          flex: 1;
          user-select: none;
          padding: @distances[v-base-s] @distances[v-base] 0px @distances[v-base];
          font-size: @sizes[v-large];
          background: none;
          border: none;
          text-align: left;
          border-left: 0px solid transparent;
          transition: border-left 0.1s;
    
          &:not([selected]):hover {
            border-left: @distances[v-base-l] solid @transparent[c-base-lll];
            background: @transparent[c-base-l];
          }
    
          &[selected] {
            border-left: @distances[v-base-l] solid @c-text;
            background: @transparent[c-base-ll];
            color: @c-text
          }

          &[raw] {
            color: @c-text-muted;

            &:not([selected]):hover {
              border-left: @distances[v-base-l] solid @c-text-muted;
            }

            &[selected] {
              border-left: @distances[v-base-l] solid @c-text-muted;
            }
          }
        }
  
        // plugin categories
        & > div {
          display: none;
          flex-direction: column;
          overflow: hidden;
  
          // plugin category button
          & > button {
            flex: 1;
            user-select: none;
            padding: @distances[v-base-s] @distances[v-base] 0px @distances[v-base];
            font-size: @sizes[v-medium];
            background: none;
            border: none;
            text-align: left;
            border-left: @distances[v-base-l] solid @c-text;
            transition: border-left 0.1s;
      
            &:not([selected]):hover {
              border-left: @distances[v-base-ll] solid @c-text;
              background: @transparent[c-base-l];
            }
      
            &[selected] {
              border-left: @distances[v-base-ll] solid @c-text;
              background: @transparent[c-base-ll];
            }

            &[raw] {
              color: @c-text-muted;
  
              &:not([selected]):hover {
                border-left: @distances[v-base-ll] solid @c-text-muted;
              }
  
              &[selected] {
                border-left: @distances[v-base-ll] solid @c-text-muted;
              }
            }
          }
        }
        
        // show plugin categories if selected
        &[selected] {
          & > div {
            display: flex;
          }
        }
      }
    }
  }

  // settings container
  #m-settings-container {
    flex: 3;

    // action buttons
    & > div[actions] {
      display: flex;
      position: absolute;
      top: 1px;
      right: 0px;
      height: @sizes[v-larger];
      border: none;

      // save / revert button
      & > button {
        font-size: @sizes[v-small];
        border: 1px solid @c-text;
        border-bottom: none;
        margin-top: @distances[v-base];
        
        // save button
        &[save] {
          background: @transparent[c-accent-1];
  
          &:not([disabled]):hover {
            background: lighten(@transparent[c-accent-1], 5%);
          }
    
          &:active {
            background: lighten(@transparent[c-accent-1], 10%);
          }
        }

        // revert button
        &[revert] {
          background: @transparent[c-accent-3];
          border-left: none;
  
          &:not([disabled]):hover {
            background: lighten(@transparent[c-accent-3], 5%);
          }
    
          &:active {
            background: lighten(@transparent[c-accent-3], 10%);
          }
        }
      }
    }
    
    // settings
    #m-settings {
      display: flex;
      position: relative;
      padding: @distances[v-base];
      overflow-x: hidden;
      overflow-y: auto;
  
      // setting
      .m-setting {
        display: flex;
        overflow: visible;
  
        // setting label
        & > div[left] > label, & > div[top] > label {
          display: flex;
          align-items: center;
          flex: 1;
          font-size: @sizes[v-small];
          user-select: none;
          font-family: 'Courier New', Courier, monospace;
          &[friendly] {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: bold;
          }
        }
  
        // setting description
        & > div[left] > span, & > div[top] > span {
          font-size: @sizes[v-small];
          user-select: none;
        }
  
        // setting layout: left and right
        &[type=single], &[type=action] {
          div[left] {
            display: flex;
            padding: @distances[v-base] @distances[v-base];
            flex-direction: column;
            flex: 2;
          }
          div[right] {
            display: flex;
            position: relative;
            padding: @distances[v-base] @distances[v-base];
            flex: 1;
            > * {
              flex: 1;
            }
            border-left: 1px solid @transparent[c-base-ll];
          }
        }

        // setting layout: top and bottom
        &[type=list], &[type=map] {
          flex-direction: column;
          div[top] {
            padding: @distances[v-base] @distances[v-base];
            display: flex;
            flex-direction: column;
          }
          div[bottom] {
            .m-list();
            position: relative;
            margin: 0px @distances[v-base] @distances[v-base] @distances[v-base];
            display: flex;
            flex: 1;
            > * {
              flex: 1;
            }
  
            // map entries
            div[entry] {
              position: relative;
              display: flex;
              > input {
                flex: 1;
              }
            }
        
            // list entries
            input {
              border: none !important;
            }
  
            // + button
            button {
              background: @transparent[c-base-l];
              border: none;
              font-size: @sizes[v-small];
      
              &:not([disabled]):hover {
                background: @transparent[c-base-ll];
              }
      
              &:active {
                background: @transparent[c-base-lll];
              }
            }
          }
        }

        // input styles
        & > div[right], & > div[bottom], & > div[bottom] > div {
          // normal inputs
          & > input {
            background: @transparent[c-base-d];
            border: 1px solid @c-text;
            text-align: center;
            font-size: @sizes[v-medium];
            width: 100%;

            &[disabled] {
              color: @c-text-muted;
            }
          }

          // boolean inputs
          & > input[ensure="boolean"] {
            cursor: pointer;
          }

          // input style for integer ranges
          & > div[range] {
            display: flex;
            flex: 1;
            position: relative;

            & > input {
              overflow: hidden;
              -webkit-appearance: none;
              appearance: none;
              width: 100%;
              height: 100%;
              background: @transparent[c-base-d];
              outline: none;
              margin: 0px;
              border: 1px solid @c-text;

              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 0px;
                height: 100%;
                box-shadow: -20vw 0 0 20vw fadeout(@c-text, 60%);
              }

              &::-webkit-slider-runnable-track {
                height: 100%;
                padding: 0px;
                margin: 0px;
              }

              &[edited]::-webkit-slider-thumb {
                box-shadow: -20vw 0 0 20vw fadeout(@c-warning, 60%);
              }
            }
            
            & > label[range] {
              pointer-events: none;
              display: flex;
              position: absolute;
              top: 0px;
              right: 0px;
              bottom: 0px;
              left: 0px;
              justify-content: center;
              align-items: center;
            }
          }

          // input style for actions
          & > button {
            background: fadein(@transparent[c-base-ll], 35%);
            border: none;
            font-size: @sizes[v-medium];
    
            &:not([disabled]):hover {
              background: fadein(@transparent[c-base-lll], 35%);
            }

            &[disabled] {
              color: @c-text-muted;
            }
    
            &:active {
              background: fadein(@transparent[c-base-llll], 35%) !important;
            }
          }
        }

        // light up setting background on hover
        &:hover {
          background: @transparent[c-base];
        }
      }
    }
  }

  [edited] {
    color: @c-warning !important;
    border-color: @c-warning !important;

    & input {
      color: @c-warning !important;
      border-color: @c-warning !important;

      &::-webkit-slider-thumb {
        box-shadow: -20vw 0 0 20vw fadeout(@c-warning, 60%) !important;
      }
    }

    & label[range] {
      color: @c-warning !important;
    }
  }
}